@import "tailwindcss";

@theme {
    --tracking-navbar: 0.35rem;
    --tracking-hero: 0.3rem;
    --color-white: #f2f2f2ff
}

* {
    font-family: "Montserrat", sans-serif;
}

.hero {
    width: auto;
    min-height: 100vh;
}