@import "tailwindcss";

@theme {
    --tracking-navbar: 0.3rem;
    --tracking-hero: 0.5rem;
    --tracking-title: 0.3rem;
    --color-primary: #2e82b2;
    --color-light: #efefef;
    --color-dark: #0f0f0f;
    --radius-global: 0.2rem;
}

* {
    font-family: "Montserrat", sans-serif;
}
